* {
  width: 100%;
}
.container {
  display: flex;
}
.playlist {
  padding: 20px;
  width: 35%;
}

.album-container {
  width: 65%;
}
/* .album {
  padding: 10px;
} */
.album1 {
  display: flex;
}
.album1 img {
  padding: 10px;
  border-radius: 50%;
}
.album1 h3 {
  padding-left: 20px;
  padding-top: 40px;
}
.music-player-container {
  width: 80%;
  align-items: center;
}
.music-player-container img {
  justify-content: center;
}
.playerimg {
  align-items: center;
}
.audioplayer {
  width: 150px;
}
